@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.imgs_cont {
    display: flex;
    height: 78vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .semi_imgs_cont {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 9%;
    height: 100%;
  
  }
  .semi_imgs_cont span {
  color: #ff93ec;
  }
  
  .imgs_cont .semi_imgs_cont .brand1 {
    width: 91%;
    height: 86%;
    margin-left: 3%;
  }
  
  .imgs_cont .semi_imgs_cont .brand2 {
    color: transparent;
    margin-left: 30%;
    width: 87%;
    height: 76%;
  }
  
  .imgs_cont img {
    width: 40%;
    height: 100%;
    margin-left: 3%;
  }