.footer {
    background: rgb(0,0,0);
    background: linear-gradient(#00000008 -4%, #873c9585 100%, #f2adff 94%);
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
   
}